.main__poke-input {
}

.pokemon__result {

}

.result__images {
    border: solid 2px rgb(5, 167, 59);
}

.result__image {
    width: 200px;
}

.result__data {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    border: solid 2px rgb(2, 71, 25);
    margin-bottom: 20px;
}

.result__data-id {
    grid-row: 1/2;
    grid-column: 1/2;
    border: solid 2px rgb(2, 71, 25);
}

.result__data-name {
    grid-row: 2/3;
    grid-column: 1/2;
    border: solid 2px rgb(2, 71, 25);
}

.result__data-stats {
    grid-row: 1/3;
    border: solid 2px rgb(2, 71, 25);
}

.result__data-abilities {
    grid-row: 1/3;
    border: solid 2px rgb(2, 71, 25);
}

#pokemon_list-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin: 0 auto;
    padding: 15px;
    background-color: rgb(5, 167, 59);
}

#list__item {
    display: flex;
    flex-direction: row;
    background-color: #ffffff;
    font-size: 20px;
    justify-content: space-around;
    align-items: center;
    min-height: 110px;
    border: solid 2px #ffffff;
    border-radius: 5px;
}

#list__item-nameLink {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}

#list__item-name {
    margin: 0;
}

#list__item-name::first-letter {
    text-transform: capitalize;
    font-size: 30px;
}